<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Mis Autos</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>

    
    </head>

    <body>
        <h1>Esta es la pagina alternativa</h1>
       
        <a href="/">Tech Shop</a> | <a href="/ejemplo2">Mis Autos</a>

        
        <h2>Subtitulo Alternativo</h2>
        <p>Estos son los coches</p>
        
        <section>
            <h2>Corvette</h2>
            <img src="/img/Corvete-Pic.png" width="200" alt=""/>
        </section>
        
    </body>
</html>
