<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Pagina Inicial</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <header>
            <nav>
                <a href="/">Tech Shop</a> 
                <ul>
                    <li><a href="/ejemplo2">Mis Autos</a></li>
                    <li><a href="/multimedia">Multimedias</a></li>
                    <li><a href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        
        <aside>
            <h1>Techshop</h1>
            <p>En esta tienda hay ritas todas las semanas...<p>
        </aside>
        
        <section>           
            <h2>Esta va a ser la pagina de testing</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>   
        </section>
        
        <footer>
            TechShop 2025 &COPY; Todos los Derechos Reservados
        </footer>

    </body>
</html>
